.App {
  text-align: center;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
}

.App-header {
  background-color: #D84C4B;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.InputFrom {
  align-content: center;
}

